= render :partial => "flight_cost_rules/list", :locals => { :not_valid_anymore => @not_valid_anymore, :valid => @valid, :not_yet_valid => @not_yet_valid, :person_cost_category_id => @person_cost_category_id, :plane_cost_category_id => @plane_cost_category_id }
