.cost_rule.flight_cost_rule
  %h1= t "views.create", :name => FlightCostRule.model_name.human
  = render :partial => "flight_cost_rules/form", :locals => { :flight_cost_rule => @flight_cost_rule }
  = link_to t('views.cancel'), @flight_cost_rule, :class => "inline_form_hide"
