%h1 Editing person_cost_category

= render :partial => "person_cost_categories/form", :locals => { :person_cost_category => @person_cost_category }
  
= link_to 'Show', person_cost_category_path(@person_cost_category)
= link_to 'Back', person_cost_categories_path

