%h1= t "views.editing", :name => PersonCostCategory.l

= render :partial => "person_cost_categories/form", :locals => { :person_cost_category => @person_cost_category }
  
= show_link(@person_cost_category)
= back_link(PersonCostCategory)

