%h1= t "views.create", :name => PersonCostCategory.model_name.human
= render :partial => "person_cost_categories/form", :locals => { :person_cost_category => @person_cost_category }
= back_link(PersonCostCategory)
