%h1= t "views.editing", :name => Airfield.l

= render :partial => "airfields/form", :locals => { :airfield => @airfield }
  
= link_to t('views.show'), airfield_path(@airfield)
= link_to t('views.back'), airfields_path

