%h1= t "views.editing", :name => Person.model_name.human
= render :partial => "people/form", :locals => { :person => @person }
= link_to t('views.show'), person_path(@person)
= link_to t('views.back'), people_path

