TODO style
%table
  %tr
    %th Flugleiter
    %th Von
    %th Bis
    %th Unterschrift
  - @controllers.each do |c|
    %tr
      %td= c[:person].name
      %td= l(c[:from], :format => :time)
      %td= l(c[:to], :format => :time)
