.item
  %h1= t "views.editing", :name => Flight.model_name.human
  = render :partial => "flights/form", :locals => { :flight => @flight }

  = show_link(@flight, nil, {:class => "sop show"})
  = back_link(Flight, {:class => "sop back"})
