%h1= t('main_flight_book', :airfield =>  @airfield.name)
= render :partial => "flights/title_spans"
.flights
  - @flights.each do |flight|
    .flight_format= render :partial => "flights/flight_spans", :locals => { :flight => flight }
