<p>
  <b>Duration:</b>
  <%=h @flight.duration %>
</p>

<p>
  <b>Departure:</b>
  <%=h @flight.departure %>
</p>


<%= link_to 'Edit', edit_flight_path(@flight) %> |
<%= link_to 'Back', flights_path %>