%h1 Editing plane_cost_category

= render :partial => "plane_cost_categories/form", :locals => { :plane_cost_category => @plane_cost_category }
  
= link_to 'Show', plane_cost_category_path(@plane_cost_category)
= link_to 'Back', plane_cost_categories_path

