%h1= t "views.editing", :name => PlaneCostCategory.l

= render :partial => "plane_cost_categories/form", :locals => { :plane_cost_category => @plane_cost_category }
  
= show_link(@plane_cost_category)
= back_link(PlaneCostCategory)

