%h1 New plane_cost_category

= error_messages_for :plane_cost_category 

- form_for(@plane_cost_category) do |f| 
  %p
    %b Name
    %br
    = f.text_field :name 

  %p
    = f.submit "Create"
    
= link_to 'Back', plane_cost_categories_path 