%h1= t "views.create", :name => PlaneCostCategory.model_name.human
= render :partial => "plane_cost_categories/form", :locals => { :plane_cost_category => @plane_cost_category } 
= back_link(PlaneCostCategory)
