fieldset ol {
  list-style: none; 
}

fieldset li label {
  display: block;
}

div.flight {
  position: relative;
}

div.disabler {
  position: absolute; 
  z-index:199;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  background: #fff;
  background-image:url(/images/ajax-loader.gif);
  background-repeat: no-repeat;
  background-position: center;
}

div.disabler a.stop_load {
  opacity: 1.0;
  
}

div.disabler .box {
  opacity: 1.0;
  
}


/*
dl.data dt {
  clear: left;
  float: left;
  width: 120px;
  text-align: left;
  white-space: nowrap;
  color: #999;
}

dl.data dd {
  margin: 0;
  margin-left: 120px;
  /*overflow: hidden;
}
*/

table.data th {
  font-weight: normal;
  vertical-align: top;
  text-align: left;
  width: 120px;
  color: #999;
  font-size: 13px;
  
}

table.categories th {
  vertical-align: top;
  text-align: left;
  width: 120px;
  color: #999;
}

ul.versions {
  list-style-type: none;
  padding: 0 0;
}

ul.versions li {
  margin: 0px;
}

.marked {
  background: #99f;
}

.hidden {
  display: none;
}

#navigation ul {
  margin: 0;
  padding: 0;
  
}

#navigation li {
  list-style-type: none;
  display: inline;
}

#navigation li a {
  text-decoration: none;
  margin: 0.5em;
}

#navigation li.active {
  background: #ccc;
}

.header {
  width: 75em;
  margin: auto;
  padding: 1em;
  padding-bottom: 0;
}

.please_wait {
  position: fixed;
  top: 1em;
  right: 1em;
  display: none;
}

.content {
  width: 75em;
  margin: auto;
  border: 1px solid #ccc;
  padding: 1em;
  position: relative;
  
}

ul.no_bullet {
  list-style-type: none;  
  padding: 0;
}

ul.scroll {
  width: 12em;
  max-height: 10em;
  overflow-y: auto;
}

.pagination a, .pagination em, .pagination span {
  display: inline-block;
  padding: 3px 5px;
  border: 1px dotted #666;
}

.center {
  margin: 0 auto;
}

.small {
  width: 25em;
  padding: 2em;
  border: 1px solid #ccc;
}

.small label {
  width: 8em;
  display: inline-block;
  text-align: right;
  padding-right: 1em;
}

.small input {
  width: 8em;
}

.small input[type=submit] {
}
