%h1= t "views.create", :name => LegalPlaneClass.l
= render :partial => "legal_plane_classes/form", :locals => { :legal_plane_class => @legal_plane_class }
= link_to t('views.back'), legal_plane_classes_path
