= f.input :condition_field, :collection => NumberCostRuleCondition.valid_fields.map { |e| [Flight.l(e), e] }, :include_blank => false
= f.input :condition_operator, :collection => NumberCostRuleCondition.valid_operators, :include_blank => false
= f.input :condition_value_i
