= simple_form_for(wire_launcher) do |f|
  = f.input :registration
  = f.input :financial_account_id, :collection => FinancialAccount.all.collect { |c| [ c.name, c.id ] } if wire_launcher.new_record?
  = f.button :submit
