%h1=h @wire_launcher.registration
= edit_link(@wire_launcher)
= back_link(WireLauncher)
= render :partial => "financial_account_ownerships/list", :locals => { :object => @wire_launcher }
= render :partial => "common/memberships", :locals => { :object => @wire_launcher, :group => :wire_launcher_cost_category }
