= render :partial => "wire_launch_cost_items/form", :locals => { :wire_launch_cost_item => @wire_launch_cost_item }
= link_to t('views.cancel'), [@cost_rule, :wire_launch_cost_items], :class => "inline_form_hide"
