.inline_form_hide_context
  = flight.launch.nil? ? t('.selflaunch') : render(:partial => "launches/#{flight.launch.class.name.underscore}", :locals => { :launch => flight.launch })
  = edit_link([flight, :launch], nil, {:class => "inline_form_show", :"data-replace" => flight_path(@flight) }) unless flight.is_a?(TowFlight) || !flight.editable?
