= t(".launch_for")
.flight_format
  = render :partial => "flights/flight_spans", :locals => { :flight => @flight }
= render :partial => "launches/show", :locals => { :flight => @flight }
= back_link(@flight)
