.flight
  position: relative
  height: 19px

.flight a, .flight a:hover, .flight a:visited
  text-decoration: none
  color: #444

.flight:hover, .flight.problems:hover, .alternate > .problems.alternate_color:nth-child(even):hover, .alternate > .alternate_color:nth-child(even):hover
  background: #fa0

.flight.problems
  background-color: #F4FA58

.alternate > .problems.alternate_color:nth-child(even)
  background-color: #D6DA38

.alternate > .alternate_color:nth-child(even)
  background-color: #d0d0d0

.flight_format .flight_data
  min-height: 18px
  width: 100%

.flight_format span
  display: inline-block
  overflow: hidden
  &.date
    padding-left: 4px
    width: 6em
  &.plane
    width: 5em
  &.seat
    width: 10.5em
  &.launch_type, &.purpose
    width: 1em
  &.airfield
    width: 8em
  &.time
    width: 4em
  &.duration
    width: 3.5em

.print_off
  opacity: 0.5

.day_links
  width: 110px
  height: 420px
  overflow: scroll
  overflow-x: hidden
  float: right
  padding-right: 2px
  .mark
    border-bottom: 2px solid black
    position: relative
    font-size: 0.8em
    padding-right: 2px
  .day_link
    font-size: 0.8em
    .wrapper
      display: inline-block
      width: 100%
    a
      text-decoration: none
    &:hover, &.current
      background: #fa0

table.controllers
  width: 100%
  border-collapse: collapse
  td, th
    border: 1px solid black
  td.signature
    width: 280px
