.flights
  .flight, .head
    border-bottom: 1px solid #aaa
    padding: 3px 0px
    .summary
      cursor: pointer
    .details
      padding-top: 5px
    span
      display: inline-block
      padding: 0 0.2em
      overflow: hidden
      &.id
        width: 3.1em
      &.date
        width: 5em
      &.plane
        width: 4em
      &.seat
        width: 9em
      &.launch_type, &.purpose
        width: 0.8em
      &.airfield
        width: 4em
      &.time
        width: 3.5em
      &.comment
    .form-horizontal
      .control-group
        margin-bottom: 9px
    .nav li.dirty a:after
      content: "*"

  .relative
    position: relative
