.flights
  .flight, .head
    border-bottom: 1px solid #aaa
    padding: 3px 0px
    .summary
      cursor: pointer
    .details
      padding-top: 5px
    span
      display: inline-block
      padding: 0 0.2em
      &.id
        width: 3.1em
      &.date
        width: 5em
      &.plane
        width: 4em
      &.seat
        width: 9em
      &.launch_type, &.purpose
        width: 0.8em
      &.airfield
        width: 4em
      &.time
        width: 3.5em
      &.comment
    .form-horizontal
      .control-group
        margin-bottom: 9px
    .nav li.dirty a:after
      content: "*"

  .relative
    position: relative

.page
  page-break-after: always
.page:last-child
  page-break-after: avoid

.loading
  width: 100%
  height: 100%
  opacity: 0.5
  background-color: white
  z-index: 100
  position: fixed
  left: 0
  top: 0
  background-image: url('/images/loading.gif')
  background-repeat: no-repeat
  background-attachment: fixed
  background-position: center
  display: none

span.hint
  font-style: italic
  color: #c0392b

.markOverlay
  position: fixed
  left: 5px
  top: 300px
  background: #afa
  border-radius: 4px
  padding: 3px
