.searchParent
  position: absolute
  left: -8px
  top: -8px
  padding: 7px
  z-index: 100

  ul.results
    list-style-type: none
    padding: 0
    max-height: 10em
    overflow-y: scroll

    li
      cursor: pointer

    li:hover
      background: #ccc

#block
  position: fixed
  left: 0
  top: 0
  right: 0
  bottom: 0
  z-index: 50
  background-color: white
  opacity: 0.4
