.alternate > .alternate_color:nth-child(even)
  background-color: #d0d0d0

.hover_mark:hover, .flight:not(.expanded):hover, .alternate > .flight.alternate_color:not(.expanded):nth-child(even):hover, .alternate > .hover_mark:nth-child(even):hover
  background: #99d

.flight.marked:not(.expanded):hover
  background: #9d9

.flight.marked:not(.expanded)
  background: #afa

.disabled_record
  color: #999
