.timeline {
  width: 402px;
  margin: auto;
}

.timeline .bars {
  /*height: 80px;*/
}

.timeline .caption {
  border-bottom: 1px dashed black;  
}

.timeline .caption span {
  display: inline-block;
}

.timeline .caption span.middle {
  margin: 0 70px;
}

.timeline .caption span.right {
  float: right;
}

.timeline .caption a {
  display: inline-block;
  width: 24px;
  height: 24px;
}

.timeline a.prev_base {  
  background: url(/images/icons/24-arrow-previous.png);
}

.timeline a.next_base {  
  background: url(/images/icons/24-arrow-next.png);
}

.timeline a.zoom_in {   
  background: url(/images/icons/24-zoom-in.png);
}

.timeline a.zoom_out {  
  background: url(/images/icons/24-zoom-out.png);
}

.timeline span.setters {
  width: 12px;
  height: 80px;
  display: inline-block;
  position: relative;
}

.timeline a.set_date {
  margin: 0;
  display: inline-block;
  width: 12px;
  height: 21px;
}

.timeline a.set_date.from {
  position: absolute;
  top: 0;
  background: url(/images/marker-from-inactive.png);
}

.timeline a.set_date.to {
  position: absolute;
  bottom: 0;
  background: url(/images/marker-to-inactive.png);
}

a.set_date.from.active { background: url(/images/marker-from.png); }
a.set_date.from.active:hover { background: url(/images/marker-from.png); }
a.set_date.from:hover { background: url(/images/marker-from-hover.png); }

a.set_date.to.active { background: url(/images/marker-to.png); }
a.set_date.to.active:hover { background: url(/images/marker-to.png); }
a.set_date.to:hover { background: url(/images/marker-to-hover.png); }

.timeline img.bar {
  width: 20px;
  margin: 0 -3px;
  /*margin-bottom: 24px;*/
  position: relative;
  z-index: 2;
}
