!!!
%html
  %head
    %meta{ "http-equiv" => "content-type", "content" => "text/html;charset=UTF-8" }
    %title
      FoxtrotMike
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'print'
    =# wicked_pdf_stylesheet_link_tag @include_stylesheet_files
  %body
    .content
      = yield
