!!!
%html
  %head
    %meta{ "http-equiv" => "content-type", "content" => "text/html;charset=UTF-8" }
    %title
      FoxtrotMike
    %style{ :type => "text/css" }
      = Rails.application.assets['application.css'].to_s.html_safe
    %style{ :type => "text/css" }
      = Rails.application.assets['print/print.css'].to_s.html_safe
    =# wicked_pdf_stylesheet_link_tag @include_stylesheet_files
  %body
    .content
      = yield
