%h1= t "views.editing", :name => Account.l

= render :partial => "accounts/form", :locals => { :account => @account }
  
= link_to t('views.show'), account_path(@account)
= link_to t('views.back'), accounts_path
