%h1 Listing accounts

%table
  %tr
    %th Login
    %th Password
    %th Password confirmation

  -for account in @accounts
    %tr
      %td=h account.login
      %td=h account.password
      %td=h account.password_confirmation
  
      %td= link_to 'Show', account_path(account)
      %td= link_to 'Edit', edit_account_path(account)
      %td= link_to 'Destroy', account_path(account), :confirm => 'Are you sure?', :method => :delete, :confirm => "Are you sure?", :method => :delete
    
= link_to 'New account', new_account_path 